* {
    margin: 0;
    padding: 0;
}

body {
    margin: 30px auto;
    background-color: rgb(143, 143, 143);
    
}

p {
    text-align: center;
}

.container-sm {

    max-width: 610px;
    margin: 10px auto;
    border: 5px solid rgb(255, 255, 255);
    overflow: auto;
}

.thumb {
    text-align: center;
    align-items: center;
}

img.jumbo {
    max-width: 600px;
}

.thumbnail {
    max-width: 120px;
    float: inline-start;
    border: 2px solid rgb(255, 255, 255);
    box-sizing: border-box;
}

.thumbnail:hover {
    opacity: 0.5;
    cursor: pointer;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade {
    opacity: 0;
    animation: fadeIn 0.2s forwards ;
}

.active {
    opacity: 0.5;
}
